 <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <h6 class="p-3 mb-0">Bildirimler</h6>
                    <div class="dropdown-divider"></div>
                    <a href=/ContactMessage/Index class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-message-processing text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject mb-1">İletişim Mesajları</p>
                            <p class="text-muted ellipsis mb-0"> Bugün <b>@ViewBag.ContactMessages</b> Yeni </p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href=/Testimonial/Index class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-thumb-up text-danger"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject mb-1">Referanslar</p>
                            <p class="text-muted ellipsis mb-0">Bugün <b>@ViewBag.Testimonials</b> Yeni </p>
                        </div>
                    </a>
                    
                    <div class="dropdown-divider"></div>
                    <p class="p-3 mb-0 text-center"><a href="/Dashboard/Index">Ana Sayfaya Dön</a></p>
                </div>

