<footer class="pt-4 pb-4 text-center bg-light">
    <div class="container">
        <div class="my-3">
            <div class="h4">Okan Akın</div>
            <p>Junior Software Developer</p>
            <div class="social-nav">

                <nav role="navigation">
                    <ul class="nav justify-content-center">
               @await Component.InvokeAsync("SocialMediaIcons")
               </ul>
               </nav>
            </div>
        </div>
        <div class="text-small text-secondary">
            <div class="mb-1">&copy; <a href="https://www.linkedin.com/in/okannakinn/">Okan Akın</a>. Tüm hakları saklıdır.</div>
            
        </div>
    </div>
</footer>